* {
    box-sizing: border-box;
}
  
body {
    background-image: url("../../assets/images/computer.jpg");
    height: 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    /* background-size: cover;       */
    /* background-color: lightblue;  */
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}

.header-wrapper
{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #fff;

    -moz-box-shadow: 1px 1px 1px #888888;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
}

header {
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom:0;
    margin-left: 50px;
    margin-right:0;
    padding-top: 10px;
}


.content-wrapper {
    margin: 0;
    width: 100%;
    text-align: left;
    padding-left: 50px;
    background-color:whitesmoke;
    background-color: rgba(255, 255, 255, 0.85); /* Black w/opacity/see-through */
    /*margin: 50px auto;*/
    /*text-shadow: 1px 1px 1px black;*/
    /*border:1px solid #0F224E;*/
    /* border: 1px solid darkslategray;*/
}

.content-box {
    max-width: 880px;
    background-color: #fff;
    margin-bottom: 50px;
    margin-top: 95px; 
    padding: 10px 40px 10px 40px;
    border: 1px solid #dddddd;

    -moz-box-shadow: 5px 5px 5px #eee;
    -webkit-box-shadow: 5px 5px 5px #eee;
    box-shadow: 5px 5px 5px #eee;
}


.tab {
    font-size: 22px;
    background-color: rgb(15, 34, 78);
    color: #fff;
    float:left;
    padding: 25px 25px 25px 25px;
    text-shadow: 1px 0px 1px #888888;
    -moz-box-shadow: 3px 0px 5px #888888;
    -webkit-box-shadow: 3px 0px 5px #888888;
    box-shadow: 3px 0px 5px #888888;
}

.bar {
    display: block;
}

a {
    color: #777777;
    text-decoration: none;
    font-size: 16px;
}

nav {
    float: right;
    height: 50px;
    line-height: 50px;
    padding-top: 20px;
    /*the padding on the right of the link, for when hovered over and background changes */
    padding-right: 5px;
    text-align: right;
}

nav div.links { 
    padding-left: 10px;
    padding-right: 10px;
    float: right; 
}
nav div.bar { 
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    float: right; 
    text-align:center;
}
nav div.links:hover {
    /* nav div:hover a
    background-color: #0F224E;
    background-color: #E742B2; 
    background-color: #B80F71;
    color: #fff; */
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid #A2C6C6;
}
/* nav div.links:hover {
    -moz-box-shadow: 2px 2px 2px #888888;
    -webkit-box-shadow: 2px 2px 2px #888888;
    box-shadow: 2px 2px 2px #888888;
} */



/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.contact {
    margin: 0 auto;
}

.contact .bar {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.street-address,
.city-state-zip,
.mobile-number,
.email
{
    letter-spacing: 1.2px;
    float:left;
    padding-left: 0;
    padding-right: 0;
}

.street-address,
{
    padding-left: 0px;
}


#bio {
    float: left;
    padding: 5px;
    margin: 0 25px 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-img {
    height: 140px;
    width: 160px;
}


/* -- lightgoldenrodyellow if the viewport is between 768px and 980px wide -- */
@media screen and (max-width: 980px) {
/*      body {
        background-color: lightgoldenrodyellow;
    }  */

    header, 
    .content-box, 
    footer {
        width: 650px;
    }
    .column {
        width: 50%;
    }
    .content-wrapper {
        margin: 0;
        padding-left: 50px;
    }   
}

/* -- lavender if the viewport is between 640px and 768px wide -- */
@media screen and (max-width: 768px)  {
/*      body {
        background-color: lavender;
    }  */
    nav div.links { 
        padding-left: 8px;
        padding-right: 8px;
    }
    nav div.links:hover { 
        padding-left: 6px;
        padding-right: 6px;
    }
    .header-wrapper, 
    .content-wrapper, 
    footer
    {
        padding-top: 0;
        padding-left: 15px;
    }
    .content-wrapper {
        margin: 0;
    }
    header {
        max-width: 630px;
        padding-top: 0;
        margin: 0;
    }
   .content-box {
        max-width: 630px;
    }

/*---------------------------*/


    .header-wrapper, 
    .content-wrapper, 
    footer
    {
        padding-top: 0;
        padding-left: 15px;
    }
    .content-wrapper {
        margin: 0;
    }
    header {
        max-width: 630px;
        padding-top: 0;
        margin: 0;
    }
   .content-box {
        max-width: 630px;
    }
}

/*-------------------------640px---------------------------*/

/* On screens that are 640px wide or less, make the columns stack on top of each other instead of next to each other */

/* -- lightgreen if the viewport is less than 640px wide -- */
@media screen and (max-width: 640px) {
    /* body {
         background-color: lightgreen; 
    }  */
 
    /* could be combined with .content-wrapper, footer */
    .header-wrapper
    {
        /*An element with position: static; is not positioned in any special way; 
        it is always positioned according to the normal flow of the page*/
        position: static;
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }

    header {
        max-width: 100%;
        padding-top: 0; 
        margin-left:0;
    }

    nav {
        height: 40px;
        line-height: 20px;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    /* Change div color and shadow */  
    nav div { 
        line-height: 20px;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        /* background-color: #B80F71; 

        -moz-box-shadow: 0px 5px 5px #888;
        -webkit-box-shadow: 0px 5px 5px #888;
        box-shadow: 0px 5px 5px #888;
        text-shadow: 1px 0px 1px #888888;*/
    } 
    /* Make the navbar a single line, full width */
    nav div.links { 
        width: 33%;
        float:left;
        padding: 8px;
    }
    /* Make the last link slightly larger to avoid margin */  
    nav div.links:last-child {
        width: 34%;
    }
    /* Alter the links */  
    nav div a { 
        /*color: white;*/
        font-size: 20px;
    }
    
    /* tab/links stack */
    .column {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    /* Name tab fills width so tab/links stack*/
    .tab {
        width: 100%;
    }

    /* ------------- */
    .content-box {
        margin-top: 20px; 
    }
    
    .content-wrapper {
        padding-left: 0;
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }
    .content-box {
        max-width: 100%;
    }
    /* ------------- */

    #bio {
        float: none;
    }
    footer {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }

}

/* -- lightgrey if the viewport is less than 640px wide -- */
@media screen and (max-width: 300px) {
/*     body {
         background-color: lightgrey; 
    }  */
    .header-wrapper {
        position: static;
    }
    .content-box {
        margin-top: 50px; 
    }
    .header-wrapper, 
    .content-box, 
    .footer-wrapper {
       min-width: 266px;
    }
    nav {
        height: 25px;
        line-height: 25px;
        padding-top: 0;
    }
    h1 {
        font-size: 16px;
        text-shadow: 2px 0px 3px #888888;
    }
    .content-box {
        margin-top:0;
    }
    .tab {
        padding: 5px 5px 5px 5px;
    }
}

h1 {
    color: #0F224E;
    text-shadow: 1px 0px 1px #888888;
}


.footer-wrapper
{
    margin:0 auto;
    width: 100%;
    background-color: #666666;
    border-top: 5px solid #0F224E;
}

.footer-yellow
{
    margin:0 auto;
    width: 100%;
    border-top: 2px solid yellow;
}

footer {
    margin: 0 auto;
    max-width: 880px;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

/*-- CONTACT PAGE FORM STYLES --*/

form, form div {
    margin-bottom: 22px;
}

input, 
textarea 
{
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #eee;
    padding: 6px 10px;
    height: 38px;
    width: 100%;
    line-height: 1.3;
}
textarea 
{
    height: 200px;
}

button {
    font-size: 18px;
    background-color: #0F224E;
    color: #fff;
    padding: 25px 25px 25px 25px;
}

.item {
    float: left;
    position: relative;
    margin: 10px;
    border: solid 1px #888888;
    -moz-box-shadow: 2px 2px 2px #888888;
    -webkit-box-shadow: 2px 2px 2px #888888;
    box-shadow: 2px 2px 2px #888888;
}
.item:hover {
    -moz-box-shadow: 1px 1px 1px #888888;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
}

.itemlabel {
    position: absolute;
    bottom: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #0F224E;
}

.itemlabel a {
    color: white;
}